In [1]:
# First import pandas for the read the excel file.
# In this all code I use the Pandas and numpy Library.

import pandas as pd

In [7]:
# In this read the courier company rates file in python and save in the courier_company_rate dataframe.

courier_company_rate = pd.read_excel("Courier Company - Rates.xlsx",sheet_name = "Sheet1",engine = "openpyxl")
courier_company_rate

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [145]:
# In this read the courier company invoice file in python and save in the courier_company_invoice dataframe.

courier_company_invoice = pd.read_excel("Courier Company - Invoice.xlsx",sheet_name = "Sheet1",engine = "openpyxl")
courier_company_invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [73]:
# In this read the company x SKU Master file in python and save in the company_x_sku dataframe.

company_x_sku = pd.read_excel("Company X - SKU Master.xlsx",sheet_name = "Sheet1",engine = "openpyxl")
company_x_sku

              SKU  Weight (g)
0   8904223815682         210
1   8904223815859         165
2   8904223815866         113
3   8904223815873          65
4   8904223816214         120
..            ...         ...
61  8904223819505         210
62  8904223819499         210
63  8904223819512         210
64  8904223819543         300
65     SACHETS001          10

[66 rows x 2 columns]

In [142]:
# In this read the company x pincode zones file in python and save in the company_x_pincode dataframe.

company_x_pincode = pd.read_excel("Company X - Pincode Zones.xlsx",sheet_name = "Sheet1",engine = "openpyxl")
company_x_pincode

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

In [135]:
#By this code we read the company x order report excel file and give the name company_x_order.

company_x_order = pd.read_excel("Company X - Order Report.xlsx",sheet_name = "Sheet1",engine = "openpyxl")
company_x_order

     ExternOrderNo            SKU  Order Qty
0       2001827036  8904223818706        1.0
1       2001827036  8904223819093        1.0
2       2001827036  8904223819109        1.0
3       2001827036  8904223818430        1.0
4       2001827036  8904223819277        1.0
..             ...            ...        ...
395     2001806229  8904223818942        1.0
396     2001806229  8904223818850        1.0
397     2001806226  8904223818850        2.0
398     2001806210  8904223816214        1.0
399     2001806210  8904223818874        1.0

[400 rows x 3 columns]

In [136]:
# In this i change the column name of company x order file.
# then i use the head function to see only 2 rows of the dataframe.

company_x_order.rename(columns = {'ExternOrderNo':'Order ID'},inplace = True)
company_x_order.head(2)

     Order ID            SKU  Order Qty
0  2001827036  8904223818706        1.0
1  2001827036  8904223819093        1.0

In [137]:
# Now i merge the company x sku file and company x oreder file with the column SKU.

final_x = pd.merge(company_x_sku,company_x_order, how = "right", on = "SKU")
final_x

               SKU  Weight (g)    Order ID  Order Qty
0    8904223818706         127  2001827036        1.0
1    8904223819093         150  2001827036        1.0
2    8904223819109         100  2001827036        1.0
3    8904223818430         165  2001827036        1.0
4    8904223819277         350  2001827036        1.0
..             ...         ...         ...        ...
396  8904223818942         133  2001806229        1.0
397  8904223818850         240  2001806229        1.0
398  8904223818850         240  2001806226        2.0
399  8904223816214         120  2001806210        1.0
400  8904223818874         100  2001806210        1.0

[401 rows x 4 columns]

In [138]:
# In this first group the order ID and behave of group add the weight and order qty column,
# and then reset the index, and save it with the name of final_x.

final_x = final_x.groupby("Order ID")["Weight (g)","Order Qty"].sum()
final_x.reset_index(inplace = True)
final_x

<ipython-input-138-8f3f43dd7ddb>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  final_x = final_x.groupby("Order ID")["Weight (g)","Order Qty"].sum()

       Order ID  Weight (g)  Order Qty
0    2001806210         220        2.0
1    2001806226         240        2.0
2    2001806229         500        3.0
3    2001806232         377        8.0
4    2001806233         245        2.0
..          ...         ...        ...
119  2001821995         477        2.0
120  2001822466         352       10.0
121  2001823564         336        6.0
122  2001825261         611       13.0
123  2001827036        2039       10.0

[124 rows x 3 columns]

In [140]:
# Now to calculate the total weight in kg first i multiply the order qty with weight(g) and then divide it by 1000
#and save the output result in new column total weight x (kg).

final_x["total_weight_x_(kg)"] = final_x["Order Qty"]*(final_x["Weight (g)"]/1000)
final_x

       Order ID  Weight (g)  Order Qty  total_weight_x_(kg)
0    2001806210         220        2.0                0.440
1    2001806226         240        2.0                0.480
2    2001806229         500        3.0                1.500
3    2001806232         377        8.0                3.016
4    2001806233         245        2.0                0.490
..          ...         ...        ...                  ...
119  2001821995         477        2.0                0.954
120  2001822466         352       10.0                3.520
121  2001823564         336        6.0                2.016
122  2001825261         611       13.0                7.943
123  2001827036        2039       10.0               20.390

[124 rows x 4 columns]

In [141]:
#now to calculate the weight slap i give the condition in condition_x_company variable and the result of condition
#in varible_x_company and then use the numpy.select function so the result will save in new column weight_slap_x in final_x
# to use the numpy first import the numpy.

import numpy as np
condition_x_company = [(final_x["total_weight_x_(kg)"]<=0.5),
(final_x["total_weight_x_(kg)"]>0.5) & (final_x["total_weight_x_(kg)"]<=1),
(final_x["total_weight_x_(kg)"]>1) & (final_x["total_weight_x_(kg)"]<=1.5),
(final_x["total_weight_x_(kg)"]>1.5) & (final_x["total_weight_x_(kg)"]<=2),
(final_x["total_weight_x_(kg)"]>2) & (final_x["total_weight_x_(kg)"]<=2.5),
(final_x["total_weight_x_(kg)"]>2.5) & (final_x["total_weight_x_(kg)"]<=3),
(final_x["total_weight_x_(kg)"]>3) & (final_x["total_weight_x_(kg)"]<=3.5),
(final_x["total_weight_x_(kg)"]>3.5) & (final_x["total_weight_x_(kg)"]<=4),
(final_x["total_weight_x_(kg)"]>4) & (final_x["total_weight_x_(kg)"]<=4.5),
(final_x["total_weight_x_(kg)"]>4.5) & (final_x["total_weight_x_(kg)"]<=5),
(final_x["total_weight_x_(kg)"]>5) & (final_x["total_weight_x_(kg)"]<=5.5),
(final_x["total_weight_x_(kg)"]>5.5) & (final_x["total_weight_x_(kg)"]<=6),
(final_x["total_weight_x_(kg)"]>6) & (final_x["total_weight_x_(kg)"]<=6.5),
(final_x["total_weight_x_(kg)"]>6.5) & (final_x["total_weight_x_(kg)"]<=7),
(final_x["total_weight_x_(kg)"]>7) & (final_x["total_weight_x_(kg)"]<=7.5),
(final_x["total_weight_x_(kg)"]>7.5) & (final_x["total_weight_x_(kg)"]<=8),
(final_x["total_weight_x_(kg)"]>8) & (final_x["total_weight_x_(kg)"]<=8.5),
(final_x["total_weight_x_(kg)"]>8.5) & (final_x["total_weight_x_(kg)"]<=9),
(final_x["total_weight_x_(kg)"]>9) & (final_x["total_weight_x_(kg)"]<=9.5),
(final_x["total_weight_x_(kg)"]>9.5) & (final_x["total_weight_x_(kg)"]<=10),
(final_x["total_weight_x_(kg)"]>10) & (final_x["total_weight_x_(kg)"]<=10.5),
(final_x["total_weight_x_(kg)"]>10.5) & (final_x["total_weight_x_(kg)"]<=11),
(final_x["total_weight_x_(kg)"]>11) & (final_x["total_weight_x_(kg)"]<=11.5),
(final_x["total_weight_x_(kg)"]>11.5) & (final_x["total_weight_x_(kg)"]<=12),
(final_x["total_weight_x_(kg)"]>12) & (final_x["total_weight_x_(kg)"]<=12.5),
(final_x["total_weight_x_(kg)"]>12.5) & (final_x["total_weight_x_(kg)"]<=13),
(final_x["total_weight_x_(kg)"]>13) & (final_x["total_weight_x_(kg)"]<=13.5),
(final_x["total_weight_x_(kg)"]>13.5) & (final_x["total_weight_x_(kg)"]<=14),
(final_x["total_weight_x_(kg)"]>14) & (final_x["total_weight_x_(kg)"]<=14.5),
(final_x["total_weight_x_(kg)"]>14.5) & (final_x["total_weight_x_(kg)"]<=15),
(final_x["total_weight_x_(kg)"]>15) & (final_x["total_weight_x_(kg)"]<=15.5),
(final_x["total_weight_x_(kg)"]>15.5) & (final_x["total_weight_x_(kg)"]<=16),
(final_x["total_weight_x_(kg)"]>16) & (final_x["total_weight_x_(kg)"]<=16.5),
(final_x["total_weight_x_(kg)"]>16.5) & (final_x["total_weight_x_(kg)"]<=17),
(final_x["total_weight_x_(kg)"]>17) & (final_x["total_weight_x_(kg)"]<=17.5),
(final_x["total_weight_x_(kg)"]>17.5) & (final_x["total_weight_x_(kg)"]<=18),
(final_x["total_weight_x_(kg)"]>18) & (final_x["total_weight_x_(kg)"]<=18.5),
(final_x["total_weight_x_(kg)"]>18.5) & (final_x["total_weight_x_(kg)"]<=19),
(final_x["total_weight_x_(kg)"]>19) & (final_x["total_weight_x_(kg)"]<=19.5),
(final_x["total_weight_x_(kg)"]>19.5) & (final_x["total_weight_x_(kg)"]<=20),
(final_x["total_weight_x_(kg)"]>20) & (final_x["total_weight_x_(kg)"]<=20.5),]

values_x_company = [0.5,1,1.5,2,2.5,3,3.5,4,4.5,5,5.5,6,6.5,7,7.5,8,8.5,9,9.5,10,10.5,11,11.5,12,12.5,13,13.5,14,14.5
                   ,15,15.5,16,16.5,17,17.5,18,18.5,19,19.5,20,20.5]

final_x["weight_slap_x"] = np.select(condition_x_company,values_x_company)
final_x

       Order ID  Weight (g)  Order Qty  total_weight_x_(kg)  weight_slap_x
0    2001806210         220        2.0                0.440            0.5
1    2001806226         240        2.0                0.480            0.5
2    2001806229         500        3.0                1.500            1.5
3    2001806232         377        8.0                3.016            3.5
4    2001806233         245        2.0                0.490            0.5
..          ...         ...        ...                  ...            ...
119  2001821995         477        2.0                0.954            1.0
120  2001822466         352       10.0                3.520            4.0
121  2001823564         336        6.0                2.016            2.5
122  2001825261         611       13.0                7.943            8.0
123  2001827036        2039       10.0               20.390           20.5

[124 rows x 5 columns]

In [143]:
# In this we rename the zone column name. and use the head function to check column name change or not.

company_x_pincode.rename(columns = {'Zone':'zone_by_x'},inplace = True)
company_x_pincode.head(2)

   Warehouse Pincode  Customer Pincode zone_by_x
0             121003            507101         d
1             121003            486886         d

In [146]:
# now to calculate the weight slap i give the condition in condition variable and the result of condition
# in values and then use the numpy.select function so the result will save in new column weight_slap_courier in 
# courier_company_invoice to use the numpy first import the numpy.

condition = [(courier_company_invoice["Charged Weight"]<=0.5),
(courier_company_invoice["Charged Weight"]>0.5) & (courier_company_invoice["Charged Weight"]<=1),
(courier_company_invoice["Charged Weight"]>1) & (courier_company_invoice["Charged Weight"]<=1.5),
(courier_company_invoice["Charged Weight"]>1.5) & (courier_company_invoice["Charged Weight"]<=2),
(courier_company_invoice["Charged Weight"]>2) & (courier_company_invoice["Charged Weight"]<=2.5),
(courier_company_invoice["Charged Weight"]>2.5) & (courier_company_invoice["Charged Weight"]<=3),
(courier_company_invoice["Charged Weight"]>3) & (courier_company_invoice["Charged Weight"]<=3.5),
(courier_company_invoice["Charged Weight"]>3.5) & (courier_company_invoice["Charged Weight"]<=4),
(courier_company_invoice["Charged Weight"]>4) & (courier_company_invoice["Charged Weight"]<=4.5),
(courier_company_invoice["Charged Weight"]>4.5) & (courier_company_invoice["Charged Weight"]<=5)]

values = [0.5,1,1.5,2,2.5,3,3.5,4,4.5,5]

courier_company_invoice["weight_slap_courier"] = np.select(condition,values)

In [147]:
# to see the weight slap courier column added or not we use the head function to see the first 5 row of the table.

courier_company_invoice.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),weight_slap_courier
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,1.5
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,1.0
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2.5
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,1.0
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.5

In [158]:
# In this code i merge the two file courier_company_invoice and final_x  by the common column Order ID with the help of
# panda merge function.

company_x_merge = pd.merge(courier_company_invoice,final_x, how = "right", on = "Order ID")
company_x_merge

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),weight_slap_courier,Weight (g),Order Qty,total_weight_x_(kg),weight_slap_x
0,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5,3.0,220,2.0,0.440,0.5
1,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2,1.0,240,2.0,0.480,0.5
2,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2,1.0,500,3.0,1.500,1.5
3,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,1.5,377,8.0,3.016,3.5
4,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,1.0,245,2.0,0.490,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4,0.5,477,2.0,0.954,1.0
120,1091121305541,2001822466,1.10,121003,342301,d,Forward charges,135.0,1.5,352,10.0,3.520,4.0
121,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8,1.0,336,6.0,2.016,2.5
122,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0,2.0,611,13.0,7.943,8.0
123,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,2.0,2039,10.0,20.390,20.5

In [164]:
# In this code i rename the column and check the column name changed with the help of head function.

company_x_merge.rename(columns = {'Zone':'zone_by_courier'
                                 ,'Charged Weight':'charged_weight_by_courier','Billing Amount (Rs.)':
                                  'charged_amount_by_courier'},inplace = True)
company_x_merge.head(2)

,AWB Code,Order ID,charged_weight_by_courier,Warehouse Pincode,Customer Pincode,zone_by_courier,Type of Shipment,charged_amount_by_courier,weight_slap_courier,Weight (g),Order Qty,total_weight_x_(kg),weight_slap_x
0,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5,3.0,220,2.0,0.44,0.5
1,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2,1.0,240,2.0,0.48,0.5

In [167]:
# Now we again merge the two file company_x_pincode and company_x_merge with the common column customer pincode.

company_x_merge = pd.merge(company_x_pincode,company_x_merge, how = "right", on = "Customer Pincode")
company_x_merge

,Warehouse Pincode_x,Customer Pincode,zone_by_x,AWB Code,Order ID,charged_weight_by_courier,Warehouse Pincode_y,zone_by_courier,Type of Shipment,charged_amount_by_courier,weight_slap_courier,Weight (g),Order Qty,total_weight_x_(kg),weight_slap_x
0,121003,140604,b,1091117221940,2001806210,2.92,121003,b,Forward charges,174.5,3.0,220,2.0,0.440,0.5
1,121003,723146,d,1091117222065,2001806226,0.68,121003,d,Forward charges,90.2,1.0,240,2.0,0.480,0.5
2,121003,421204,d,1091117222080,2001806229,0.71,121003,d,Forward charges,90.2,1.0,500,3.0,1.500,1.5
3,121003,507101,d,1091117222124,2001806232,1.30,121003,d,Forward charges,135.0,1.5,377,8.0,3.016,3.5
4,121003,263139,b,1091117222135,2001806233,0.78,121003,b,Forward charges,61.3,1.0,245,2.0,0.490,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,121003,342008,b,1091121183730,2001821995,0.50,121003,d,Forward charges,45.4,0.5,477,2.0,0.954,1.0
170,121003,342301,b,1091121305541,2001822466,1.10,121003,d,Forward charges,135.0,1.5,352,10.0,3.520,4.0
171,121003,492001,d,1091121666133,2001823564,0.70,121003,d,Forward and RTO charges,172.8,1.0,336,6.0,2.016,2.5
172,121003,517128,d,1091121981575,2001825261,1.60,121003,d,Forward and RTO charges,345.0,2.0,611,13.0,7.943,8.0
173,121003,173213,e,1091122418320,2001827036,1.60,121003,b,Forward charges,117.9,2.0,2039,10.0,20.390,20.5

In [171]:
# To calculate the expected charged by x company we use this code condition given in con and the result come of by 
# this condition the output result given in val and then give to the numpy select function.

a_fixed = 29.5
a_additional = 23.6
b_fixed = 33
b_additional = 28.3
c_fixed = 40.1
c_additional = 38.9
d_fixed = 44.8
d_additional = 56.6
e_fixed = 55.5
e_additional = 55.5

rto_a_fixed = 13.6
rto_a_additional = 23.6
rto_b_fixed = 20.5
rto_b_additional = 28.3
rto_c_fixed = 31.9
rto_c_additional = 38.9
rto_d_fixed = 41.3
rto_d_additional = 44.8
rto_e_fixed = 50.7
rto_e_additional = 55.5

con = [(company_x_merge["zone_by_x"] == "a") & (company_x_merge["Type of Shipment"] == "Forward charges") & 
      (company_x_merge["weight_slap_x"]==0.5),
      (company_x_merge["zone_by_x"] == "a") & (company_x_merge["Type of Shipment"] == "Forward charges") & 
      (company_x_merge["weight_slap_x"]!=0.5),
      
      (company_x_merge["zone_by_x"] == "b") & (company_x_merge["Type of Shipment"] == "Forward charges") & 
      (company_x_merge["weight_slap_x"]==0.5),
      (company_x_merge["zone_by_x"] == "b") & (company_x_merge["Type of Shipment"] == "Forward charges") & 
      (company_x_merge["weight_slap_x"]!=0.5),
      
      (company_x_merge["zone_by_x"] == "c") & (company_x_merge["Type of Shipment"] == "Forward charges") & 
      (company_x_merge["weight_slap_x"]==0.5),
      (company_x_merge["zone_by_x"] == "c") & (company_x_merge["Type of Shipment"] == "Forward charges") & 
      (company_x_merge["weight_slap_x"]!=0.5),
      
      (company_x_merge["zone_by_x"] == "d") & (company_x_merge["Type of Shipment"] == "Forward charges") & 
      (company_x_merge["weight_slap_x"]==0.5),
      (company_x_merge["zone_by_x"] == "d") & (company_x_merge["Type of Shipment"] == "Forward charges") & 
      (company_x_merge["weight_slap_x"]!=0.5),
      
      (company_x_merge["zone_by_x"] == "e") & (company_x_merge["Type of Shipment"] == "Forward charges") & 
      (company_x_merge["weight_slap_x"]==0.5),
      (company_x_merge["zone_by_x"] == "e") & (company_x_merge["Type of Shipment"] == "Forward charges") & 
      (company_x_merge["weight_slap_x"]!=0.5),
       
      (company_x_merge["zone_by_x"] == "a") & (company_x_merge["Type of Shipment"] == "Forward and RTO charges") & 
      (company_x_merge["weight_slap_x"]==0.5),
      (company_x_merge["zone_by_x"] == "a") & (company_x_merge["Type of Shipment"] == "Forward and RTO charges") & 
      (company_x_merge["weight_slap_x"]!=0.5),
       
      (company_x_merge["zone_by_x"] == "b") & (company_x_merge["Type of Shipment"] == "Forward and RTO charges") & 
      (company_x_merge["weight_slap_x"]==0.5),
      (company_x_merge["zone_by_x"] == "b") & (company_x_merge["Type of Shipment"] == "Forward and RTO charges") & 
      (company_x_merge["weight_slap_x"]!=0.5),
       
      (company_x_merge["zone_by_x"] == "c") & (company_x_merge["Type of Shipment"] == "Forward and RTO charges") & 
      (company_x_merge["weight_slap_x"]==0.5),
      (company_x_merge["zone_by_x"] == "c") & (company_x_merge["Type of Shipment"] == "Forward and RTO charges") & 
      (company_x_merge["weight_slap_x"]!=0.5),
       
      (company_x_merge["zone_by_x"] == "d") & (company_x_merge["Type of Shipment"] == "Forward and RTO charges") & 
      (company_x_merge["weight_slap_x"]==0.5),
      (company_x_merge["zone_by_x"] == "d") & (company_x_merge["Type of Shipment"] == "Forward and RTO charges") & 
      (company_x_merge["weight_slap_x"]!=0.5),
      
      (company_x_merge["zone_by_x"] == "e") & (company_x_merge["Type of Shipment"] == "Forward and RTO charges") & 
      (company_x_merge["weight_slap_x"]==0.5),
      (company_x_merge["zone_by_x"] == "e") & (company_x_merge["Type of Shipment"] == "Forward and RTO charges") & 
      (company_x_merge["weight_slap_x"]!=0.5),
      ]

val = [a_fixed,(a_fixed+(company_x_merge["weight_slap_x"]/0.5)*a_additional),
       b_fixed,(b_fixed+(company_x_merge["weight_slap_x"]/0.5)*b_additional),
      c_fixed,(c_fixed+(company_x_merge["weight_slap_x"]/0.5)*c_additional),
      d_fixed,(d_fixed+(company_x_merge["weight_slap_x"]/0.5)*d_additional),
      e_fixed,(e_fixed+(company_x_merge["weight_slap_x"]/0.5)*e_additional),
      (a_fixed+rto_a_fixed),(a_fixed+rto_a_fixed)+((company_x_merge["weight_slap_x"]/0.5)*a_additional)+
       ((company_x_merge["weight_slap_x"]/0.5)*rto_a_additional),
      (b_fixed+rto_b_fixed),(b_fixed+rto_b_fixed)+((company_x_merge["weight_slap_x"]/0.5)*b_additional)+
       ((company_x_merge["weight_slap_x"]/0.5)*rto_b_additional),
      (c_fixed+rto_c_fixed),(c_fixed+rto_c_fixed)+((company_x_merge["weight_slap_x"]/0.5)*c_additional)+
       ((company_x_merge["weight_slap_x"]/0.5)*rto_c_additional),
      (d_fixed+rto_d_fixed),(d_fixed+rto_d_fixed)+((company_x_merge["weight_slap_x"]/0.5)*d_additional)+
       ((company_x_merge["weight_slap_x"]/0.5)*rto_d_additional),
      (e_fixed+rto_e_fixed),(e_fixed+rto_e_fixed)+((company_x_merge["weight_slap_x"]/0.5)*e_additional)+
       ((company_x_merge["weight_slap_x"]/0.5)*rto_e_additional)]  

expected_charge_by_x = np.select(con,val)

expected_charge_by_x

array([  33. ,   44.8,  214.6,  441. ,   33. ,   44.8,  327.8,  117.9,
        117.9,  117.9,  117.9,  117.9,  214.6, 1346.6,  214.6,  117.9,
        683.9,  214.6,   33. ,  724. ,  117.9,  117.9,  372.6,  214.6,
         44.8,  214.6,  610.8,  214.6,   89.6,  146.2,   89.6,   89.6,
         33. ,  117.9,  146.2,  117.9,  214.6,   44.8,  724. ,  457.5,
        457.5,  214.6,  214.6,  146.2,  214.6,   33. ,  117.9, 1233.4,
        231.1,  174.5,  117.9,  146.2,  117.9,   44.8,  271.2,  259.4,
        497.6,  146.2,  694.5,  117.9,  893.8,  117.9,  117.9,  271.2,
        146.2,  146.2,  106.2,  117.9,  117.9,  146.2,  214.6,  222. ,
        457.5,  117.9,   33. ,  231.1,  231.1,   89.6,  117.9,  117.9,
        117.9,  117.9,  117.9,  117.9,  279.9,  457.5, 1290. ,   44.8,
        491.7,   89.6,  146.2,  117.9,  117.9,  117.9,  287.7,  287.7,
        287.7,  287.7,  287.7,  146.2,  117.9,  117.9,  117.9,  117.9,
        146.2, 1404.3,  146.2,  202.8,  202.8,  259.4,  259.4,  259.4,
        259.4,  259.4,  174.5,  146.2,  146.2,  388.5,  388.5,  277.5,
        277.5,  223.3,  117.9,  117.9,  117.9,  117.9,  223.3,   33. ,
        117.9,  259.4,  259.4,  259.4,  259.4,   53.5,   33. ,   33. ,
         33. ,   33. ,   33. ,  117.9,  117.9,  117.9,  117.9,  117.9,
        694.5,  117.9, 1355.3,  390.3,  772.2,  166.5,   33. ,  117.9,
       1080.1, 1080.1, 1080.1, 1080.1,  593.1,   33. ,   33. ,   33. ,
         33. ,  146.2,   33. ,   33. ,  174.5,   33. ,   33. ,   33. ,
         33. ,   89.6,  259.4,  593.1, 1708.5, 2331. ])

In [172]:
# Now the expected charged by x to save in the table and make the new column for this we use this code.

company_x_merge["expected_charge_by_x_company"] = expected_charge_by_x

In [173]:
# Just to see the table how it look.

company_x_merge

,Warehouse Pincode_x,Customer Pincode,zone_by_x,AWB Code,Order ID,charged_weight_by_courier,Warehouse Pincode_y,zone_by_courier,Type of Shipment,charged_amount_by_courier,weight_slap_courier,Weight (g),Order Qty,total_weight_x_(kg),weight_slap_x,expected_charge_by_x_company
0,121003,140604,b,1091117221940,2001806210,2.92,121003,b,Forward charges,174.5,3.0,220,2.0,0.440,0.5,33.0
1,121003,723146,d,1091117222065,2001806226,0.68,121003,d,Forward charges,90.2,1.0,240,2.0,0.480,0.5,44.8
2,121003,421204,d,1091117222080,2001806229,0.71,121003,d,Forward charges,90.2,1.0,500,3.0,1.500,1.5,214.6
3,121003,507101,d,1091117222124,2001806232,1.30,121003,d,Forward charges,135.0,1.5,377,8.0,3.016,3.5,441.0
4,121003,263139,b,1091117222135,2001806233,0.78,121003,b,Forward charges,61.3,1.0,245,2.0,0.490,0.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,121003,342008,b,1091121183730,2001821995,0.50,121003,d,Forward charges,45.4,0.5,477,2.0,0.954,1.0,89.6
170,121003,342301,b,1091121305541,2001822466,1.10,121003,d,Forward charges,135.0,1.5,352,10.0,3.520,4.0,259.4
171,121003,492001,d,1091121666133,2001823564,0.70,121003,d,Forward and RTO charges,172.8,1.0,336,6.0,2.016,2.5,593.1
172,121003,517128,d,1091121981575,2001825261,1.60,121003,d,Forward and RTO charges,345.0,2.0,611,13.0,7.943,8.0,1708.5
173,121003,173213,e,1091122418320,2001827036,1.60,121003,b,Forward charges,117.9,2.0,2039,10.0,20.390,20.5,2331.0

In [176]:
# Now to calculate the difference between charges of courier company and x company we use this code. In this we just minus
# the x company charge with the courier company charge and save in new column.

company_x_merge["difference_between_expected_charged_and_billed_charged(rs.)"] = company_x_merge["expected_charge_by_x_company"] - company_x_merge["charged_amount_by_courier"]

In [191]:
# to check the column added in the table or not.

company_x_merge

,Warehouse Pincode_x,Customer Pincode,zone_by_x,AWB Code,Order ID,charged_weight_by_courier,Warehouse Pincode_y,zone_by_courier,Type of Shipment,charged_amount_by_courier,weight_slap_courier,Weight (g),Order Qty,total_weight_x_(kg),weight_slap_x,expected_charge_by_x_company,difference_between_expected_charged_and_billed_charged(rs.)
0,121003,140604,b,1091117221940,2001806210,2.92,121003,b,Forward charges,174.5,3.0,220,2.0,0.440,0.5,33.0,-141.5
1,121003,723146,d,1091117222065,2001806226,0.68,121003,d,Forward charges,90.2,1.0,240,2.0,0.480,0.5,44.8,-45.4
2,121003,421204,d,1091117222080,2001806229,0.71,121003,d,Forward charges,90.2,1.0,500,3.0,1.500,1.5,214.6,124.4
3,121003,507101,d,1091117222124,2001806232,1.30,121003,d,Forward charges,135.0,1.5,377,8.0,3.016,3.5,441.0,306.0
4,121003,263139,b,1091117222135,2001806233,0.78,121003,b,Forward charges,61.3,1.0,245,2.0,0.490,0.5,33.0,-28.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,121003,342008,b,1091121183730,2001821995,0.50,121003,d,Forward charges,45.4,0.5,477,2.0,0.954,1.0,89.6,44.2
170,121003,342301,b,1091121305541,2001822466,1.10,121003,d,Forward charges,135.0,1.5,352,10.0,3.520,4.0,259.4,124.4
171,121003,492001,d,1091121666133,2001823564,0.70,121003,d,Forward and RTO charges,172.8,1.0,336,6.0,2.016,2.5,593.1,420.3
172,121003,517128,d,1091121981575,2001825261,1.60,121003,d,Forward and RTO charges,345.0,2.0,611,13.0,7.943,8.0,1708.5,1363.5
173,121003,173213,e,1091122418320,2001827036,1.60,121003,b,Forward charges,117.9,2.0,2039,10.0,20.390,20.5,2331.0,2213.1

In [192]:
# In this we drop the column which we do not require in over table ny using the drop function.

final_report = company_x_merge.drop(["Warehouse Pincode_x","Customer Pincode","Warehouse Pincode_y","Type of Shipment","Weight (g)","Order Qty"],axis = 1)
final_report

,zone_by_x,AWB Code,Order ID,charged_weight_by_courier,zone_by_courier,charged_amount_by_courier,weight_slap_courier,total_weight_x_(kg),weight_slap_x,expected_charge_by_x_company,difference_between_expected_charged_and_billed_charged(rs.)
0,b,1091117221940,2001806210,2.92,b,174.5,3.0,0.440,0.5,33.0,-141.5
1,d,1091117222065,2001806226,0.68,d,90.2,1.0,0.480,0.5,44.8,-45.4
2,d,1091117222080,2001806229,0.71,d,90.2,1.0,1.500,1.5,214.6,124.4
3,d,1091117222124,2001806232,1.30,d,135.0,1.5,3.016,3.5,441.0,306.0
4,b,1091117222135,2001806233,0.78,b,61.3,1.0,0.490,0.5,33.0,-28.3
...,...,...,...,...,...,...,...,...,...,...,...
169,b,1091121183730,2001821995,0.50,d,45.4,0.5,0.954,1.0,89.6,44.2
170,b,1091121305541,2001822466,1.10,d,135.0,1.5,3.520,4.0,259.4,124.4
171,d,1091121666133,2001823564,0.70,d,172.8,1.0,2.016,2.5,593.1,420.3
172,d,1091121981575,2001825261,1.60,d,345.0,2.0,7.943,8.0,1708.5,1363.5
173,e,1091122418320,2001827036,1.60,b,117.9,2.0,20.390,20.5,2331.0,2213.1

In [193]:
# Now to save the file in over system we use this code. The final_report.xlxs is the name which we give to save the file. 

final_report.to_excel("final_report.xlsx")

In [190]:
# In this we see the correct charge, over charge, and under charge by the courier company.

correct = company_x_merge[company_x_merge["difference_between_expected_charged_and_billed_charged(rs.)"] == 0]

correct_charged_count = correct.charged_amount_by_courier.count()
correct_charged_sum = correct.charged_amount_by_courier.sum()
print("correct_charged_count :-",correct_charged_count)
print("correct_charged_sum :-",correct_charged_sum)

overcharged = company_x_merge[company_x_merge["difference_between_expected_charged_and_billed_charged(rs.)"] > 0]

over_charged_count = overcharged.charged_amount_by_courier.count()
over_charged_sum = overcharged.charged_amount_by_courier.sum()
print("over_charged_count :-",over_charged_count)
print("over_charged_sum :-",over_charged_sum)

undercharged = company_x_merge[company_x_merge["difference_between_expected_charged_and_billed_charged(rs.)"] < 0]

under_charged_count = undercharged.charged_amount_by_courier.count()
under_charged_sum = undercharged.charged_amount_by_courier.sum()
print("under_charged_count :-",under_charged_count)
print("under_charged_sum :-",under_charged_sum)

correct_charged_count :- 2
correct_charged_sum :- 179.2
over_charged_count :- 135
over_charged_sum :- 14388.6
under_charged_count :- 37
under_charged_sum :- 3865.0000000000005